*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign {
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px;
    color: white;
    border-radius: 6px;
    background-color: black;
}

.symbols {
    margin: 10px;
    font-size: 20px;
    margin-left: 30px;
}