*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 300px;
    height: 400px;
    
}

body{
    margin:200px;
    
}

#heading {
    background-color: #c223bc ;
}

.efn{
   background-color: #f1f1f1 ;
}

.efn1{
    background-color: #f1f1f1;

}

.efn2{
    background-color: #f1f1f1;

}

.efn3{
    background-color: #f1f1f1;

}
 
.efn4{
    background-color: #f1f1f1;

}